# c++
obj/*
bin/*

# test coverage
tests/testinfo/
tests/reports/
tests/*.gmon.out.*
tests/*.info
.cccc/*

# shnootalk testing
tests/log.txt
*.llc
*.llc.s
*.o
test
test.o

# temp dir in test dir
tests/temp/*
temp/

# temp files in root dir
/*.uhll
/*.shnoo
/*.shtk
todo.txt
temp.py
test.py
temp.txt

# python
__pycache__/
*.pyc

# pytest
.pytest_cache/

# virtual environment
.venv

# pip
build/
dist/
*.egg-info/

# temp folders
temp/
zipdata/

# mypy
.mypy_cache/