# c++
obj/*
bin/*

# test coverage
tests/testinfo/
tests/reports/
tests/*.gmon.out.*
tests/*.info
tests/compiler/*.info
.cccc/*

# shnootalk testing
tests/log.txt
*.llc
*.llc.s
*.o
test
test.o
compiler/tests/compiler/test_executable
stdlib/tests/test_executable

# temp dir in test dir
tests/temp/*
temp/

# temp files in root dir
/*.uhll
/*.shnoo
/*.shtk
todo.txt
temp.py
test.py
temp.txt
gen.py

# python
__pycache__/
*.pyc

# pytest
.pytest_cache/

# virtual environment
.venv

# pip
build/
dist/
*.egg-info/

# temp folders
temp/
zipdata/

# mypy
.mypy_cache/

# AppImage
AppDir/
shtkc
*.AppImage
appimage-builder-cache

# Ci
*.tar.xz
.github/workflows/clang+llvm*
llvm/
build-name.txt

# misc
.DS_store